:root {
  --ks-case-width: 0.6;
  --ks-case-height: 0.5;
  --headshot-width: 35vw;
  --headshot-pad: 5vw;
  --headshot-max: 85vh;
  --ks-cover-ratio: 7775 / 3888;
  --ks-contain-ratio: 6 / 1;
  --ks-icon-ratio: 115.195 / 86.3;
  --ks-switch: 0.65;
  --ks-end-scale: 0.5;
  --ks-end-pad: 0.1;
  --divider: #aaa;
  --ks-rescale: 0.68;
  --feed-width: 1280;
  --sidebar-pad: 2;

  /* js modified defaults */
  --splash-scroll: 0;
  --page-ratio: 1;
  --page-width: var(--feed-width);

  /* computed */
  --icon-over-logo: calc(
    var(--ks-icon-ratio) / (var(--ks-contain-ratio)) * var(--ks-rescale) *
    var(--ks-end-scale) * var(--sidebar-pad));
  --logo-width: calc(min(var(--ks-case-width),
    (var(--ks-case-width) - 0.5 + var(--feed-width) / var(--page-width) / 2) /
    (1 - (var(--icon-over-logo)) / 2)));
  --ks-height: calc(min(
    var(--page-ratio) * var(--logo-width) / (var(--ks-contain-ratio)),
    var(--ks-case-height) * var(--ks-cover-ratio) / (var(--ks-contain-ratio))));
  --ks-offset: calc((var(--ks-case-height) / 2 - var(--ks-height) / 2));
  --header-height: calc(
    var(--ks-height) * (var(--ks-end-scale) + 2 * var(--ks-end-pad)));
  --ks-interpolation: calc(min(max((var(--splash-scroll) - var(--ks-switch)) /
    (1 - var(--header-height) - var(--ks-switch)), 0), 1));
}

body {
  margin: 0;
}

#ks-case {
  display: inline-block;
  width: calc(100vw * var(--logo-width));
  left: calc(100vw * (var(--ks-case-width) - var(--logo-width)));
  position: fixed;
  height: calc(100vh * var(--ks-case-height));
  top: 0;
}

#headshot, #headshot-dark {
  position: fixed;
  top: calc(100vh - min(var(--headshot-max), var(--headshot-width)));
  max-width: var(--headshot-width);
  max-height: var(--headshot-max);
  left: calc(100vw * var(--ks-case-width) + var(--headshot-pad));
  z-index: -1;
}

#headshot-dark {
  display: none;
}

#scroll-index {
  position: absolute;
  top: 100vh;
}

#ks-center {
  display: none;
}

#ks-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

#ks-cover {
  aspect-ratio: var(--ks-cover-ratio);
  max-height: 100%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#ks-contain {
  aspect-ratio: var(--ks-contain-ratio);
  position: relative;
  top: calc(1 / 2 * min(
    100vw * var(--logo-width) / (var(--ks-cover-ratio)),
    100vh * var(--ks-case-height)));
  transform: translateY(-50%);
}

#ks-below {
  position: absolute;
  top: 100%;
  padding: 2%;
  font-family: Helvetica;
  font-size: 3rem;
}

#ks-below > a {
  display: block;
  text-decoration: none;
  color: inherit;
  padding: 1rem;
  text-wrap: nowrap;
  background: #ffffff80
}

#ks-below > a:hover {
  text-decoration: underline;
}

#scroll-hint {
  position: fixed;
  bottom: 5vmin;
  width: 3vmin;
  height: calc(3vmin / cos(30deg));
  left: 50%;
  transform-origin: center left;
  transform: translateX(-50%) rotate(60deg) skewY(-30deg);
  border-width: 0 0.2rem calc(0.2rem / cos(30deg)) 0;
  border-color: var(--divider);
  border-style: solid;
  z-index: 0;
}

.section-icon {
  display: inline-block;
  height: 3rem;
  float: left;
  margin: 0 1rem 0 0;
  pointer-events: none;
}

#ks-select {
  position: absolute;
  font-family: "Roboto", Arial;
  font-size: calc(min(
    100vw * var(--logo-width) / (var(--ks-contain-ratio)),
    100vh * var(--ks-case-height) * var(--ks-cover-ratio) /
        (var(--ks-contain-ratio))));
  font-weight: 600;
  transform: scale(107%, 95%) translate(5%, -17%);
  opacity: 0.5
}

.roboto-fellback #ks-select {
  transform: scale(99%, 99%) translate(1%, -16%);
}

.hidden, .icon-svg > lottie-player, #ks-case:not(.icon-svg) #ks-svg {
  visibility: hidden;
}

#ks-svg {
  position: absolute;
  height: 100%;
  transform: scale(var(--ks-rescale)) translate(-5%, -17%);
}

#ks-icon {
  position: absolute;
  height: 100%;
  scale: calc(1 - (1 - var(--ks-end-scale)) * var(--ks-interpolation));
  top: calc(-100vh * var(--ks-interpolation) * (
    var(--ks-offset) + var(--ks-height) * var(--ks-end-pad)));
  width: 100%;
  transform-origin: 2% center;
}

#content {
  margin-top: 100vh;
  min-height: 100vh;
  position: relative;
  z-index: 1;
  background: white;
  border-top: 1px solid var(--divider);
  text-align: center;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

#content img {
  max-width: 100%;
  max-height: 100vh;
}

#feed {
  max-width: calc(var(--feed-width) * 1px);
  margin: 0 auto;
  padding-left: calc(
    100vw * (var(--icon-over-logo)) * var(--logo-width));
}

iframe {
    max-width: 100vw;
}

#portrait-header {
  display: none;
}

#ks-header {
  height: calc(100vh * var(--ks-height) * var(--ks-end-scale));
  margin-top: calc(100vh * var(--ks-height) * var(--ks-end-pad));
  scale: var(--ks-rescale);
}

@media (max-aspect-ratio: 1 / 1) {
  :root {
    --ks-case-width: 1;
    --headshot-pad: calc(-1 * var(--headshot-width));
  }

  #ks-center {
    display: initial;
  }

  #ks-left {
    display: none;
  }

  #ks-icon {
    transform-origin: 52% center;
  }

  #ks-svg {
    left: 37.6%;
  }
}

@media (max-aspect-ratio: 2 / 3) {
  #headshot, #headshot-dark {
    max-width: 100vw;
    left: 0;
    top: calc(100vh - 100vw);
  }

  #ks-below {
    right: 0;
    text-align: right;
  }

  .section-icon {
    float: right;
    margin: 0 0 0 1rem;
  }

  #scroll-hint {
    border-color: #000;
  }
}

@media (prefers-color-scheme: dark) {
  body, #content {
    background: #000;
    color: white;
  }

  #headshot-dark {
    display: initial;
  }

  #ks-center, #ks-left, #ks-svg, #ks-header, .section-icon {
    filter: invert(1);
  }

  #ks-below > a {
    background: #00000080
  }
}

@media (height < 40rem) {
  #ks-below > a {
    font-size: 0;
    padding: 0;
    display: inline-block;
  }
}

@media (orientation: portrait) {
  :root {
    scroll-padding-top: calc(100vh * var(--header-height));
  }

  #portrait-header {
    display: block;
    position: fixed;
    height: calc(100vh * var(--header-height));
    top: 0;
    width: 100%;
    background: inherit;
    border-bottom: 1px solid var(--divider);
    opacity: calc(round(down, var(--ks-interpolation)));
    margin-top: -1px;
    overflow: hidden;
  }

  #feed {
    padding-left: 0;
  }
}
