:root {
  --ks-case-width: 60lvw;
  --ks-case-height: 50lvh;
  --headshot-width: 35lvw;
  --headshot-pad: 5lvw;
  --ks-cover-ratio: 7775 / 3888;
  --ks-contain-ratio: 6 / 1;
}

body {
  margin: 0;
}

#ks-case {
  display: inline-block;
  width: var(--ks-case-width);
  position: fixed;
  height: var(--ks-case-height);
  top: 0;
}

#headshot, #headshot-dark {
  position: fixed;
  top: calc(max(0px, 100lvh - var(--headshot-width)));
  max-width: var(--headshot-width);
  max-height: 100lvh;
  left: calc(var(--ks-case-width) + var(--headshot-pad));
  z-index: -1;
}

#headshot-dark {
  display: none;
}

#scroll-index {
  position: absolute;
  top: 100lvh;
}

#ks-center {
  display: none;
}

#ks-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

#ks-cover {
  aspect-ratio: var(--ks-cover-ratio);
  max-height: 100%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#ks-contain {
  aspect-ratio: var(--ks-contain-ratio);
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#ks-below {
  position: absolute;
  top: 100%;
  padding: 2%;
  font-family: Helvetica;
  font-size: 3rem;
}

#ks-below > a {
  display: block;
  text-decoration: none;
  color: inherit;
  padding: 1rem;
  text-wrap: nowrap;
  background: #ffffff80
}

#ks-below > a:hover {
  text-decoration: underline;
}

#content {
  margin-top: 100lvh;
  min-height: 100vh;
  position: relative;
  z-index: 1;
  background: white;
  border-top: 1px solid #aaa;
}

#scroll-hint {
  position: fixed;
  bottom: 5vmin;
  width: 3vmin;
  height: calc(3vmin / cos(30deg));
  left: 50%;
  transform-origin: center left;
  transform: translateX(-50%) rotate(60deg) skewY(-30deg);
  border-width: 0 0.2rem calc(0.2rem / cos(30deg)) 0;
  border-color: #aaa;
  border-style: solid;
  z-index: 0;
}

.section-icon {
  display: inline-block;
  height: 3rem;
  float: left;
  margin: 0 1rem 0 0;
}

#ks-select {
  position: absolute;
  font-family: "Roboto", Arial;
  font-size: calc(min(
    var(--ks-case-width) / var(--ks-contain-ratio),
    var(--ks-case-height) * var(--ks-cover-ratio) / var(--ks-contain-ratio)));
  font-weight: 600;
  transform: scale(107%, 95%) translate(5%, -17%);
  opacity: 0.5
}

.hidden, .icon-svg > lottie-player, #ks-case:not(.icon-svg) #ks-svg {
  visibility: hidden;
}

#ks-svg {
  position: absolute;
  height: 100%;
  transform: scale(68%) translate(-5%, -17%);
}

@media (max-aspect-ratio: 1 / 1) {
  #ks-case {
    --ks-case-width: 100vw;
  }

  #ks-center {
    display: initial;
  }

  #ks-left {
    display: none;
  }

  #ks-svg {
    left: 37.6%;
  }
}

@media (max-aspect-ratio: 2 / 3) {
  #headshot, #headshot-dark {
    max-width: 100lvw;
    left: 0;
    top: calc(100lvh - 100lvw);
  }

  #ks-below {
    right: 0;
    text-align: right;
  }

  .section-icon {
    float: right;
    margin: 0 0 0 1rem;
  }

  #scroll-hint {
    border-color: #000;
  }
}

@media (prefers-color-scheme: dark) {
  body, #content {
    background: #000;
    color: white;
  }

  #headshot-dark {
    display: initial;
  }

  #ks-center, #ks-left, #ks-svg, .section-icon {
    filter: invert(1);
  }

  #ks-below > a {
    background: #00000080
  }
}
